<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/javaStudy/workspace_fornt/mysite/assets/css/mysite.css">
<link rel="stylesheet" href="/javaStudy/workspace_fornt/mysite/assets/css/main.css">
</head>
<body>
<div id="wrap">
	<div id="header" class="clearfix">
		<h1>Mysite</h1>
		<ul class="clearfix">
			<li><a href="">로그인</a></li>
			<li><a href="">회원가입</a></li>
		</ul>
	</div>
<!-- //header -->
	<div id="nav" class="clearfix">
		<ul>
			<li><a href="">입사지원서</a></li>
			<li><a href="">게시판</a></li>
			<li><a href="">갤러리</a></li>
			<li><a href="">방명록</a></li>
		</ul>
	</div>
<!-- //nav -->
	<div id="full-contents" class="clearfix">
		<img id="img-profile" src="/javeStudy/workspace_fornt/mysite/assets/img/jung.jpg">
		<p id="greeting">
			<span class="blod">
				안녕하세요!!<br>
				장희만의 Mysite에 오신 것을 환영합니다.<br><br>
			</span>
			이 사이트는 웹 프로그램밍 실습과제 예제 사이트입니다.<br>
			메뉴는 사이트 소개, 방명록, 게시판이 있구요.<br>
			자바 수업 + 데이터베이스 수업 + 웹프로그래밍 수업<br>
			배운 거 있는거 없는 거 다 합쳐서 만들어 놓은 사이트 입니다.
			<br><br>
			(자유롭게 꾸며보세요!!)
			<br><br>
			<a href="">방명록에 글 남기기</a>
		</p>
	</div>
<!-- //full-contents -->
	<div id="footer">
		<div>
			copyright ⓒ 2022 장희만. All right reserved
		</div>
	</div>
<!-- //footer -->
</div>
<!-- //wrap -->
</body>
</html>