<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="C:\javaStudy\workspace_fornt\mysite\assets\css\mysite.css">
<link rel="stylesheet"
	href="C:\javaStudy\workspace_fornt\mysite\assets\css\board.css">

</head>
<body>
	<div id="wrap">
		<div id="header" class="clearfix">
			<h1>Mysite</h1>
			<ul class="clearfix">
				<li><a href="">로그인</a></li>
				<li><a href="">회원가입</a></li>
			</ul>
		</div>
		<!-- header -->


		<div id="nav" class="clearfix">
			<ul class="clearfix">
				<li><a href="">입사지원서</a></li>
				<li><a href="">게시판</a></li>
				<li><a href="">갤러리</a></li>
				<li><a href="">방명록</a></li>
			</ul>
		</div>
		<!-- nav -->

		<div id="contents" class="clearfix">
			<div id="aside">
				<h2>게시판</h2>

				<ul>
					<li><a href="">일반게시판</a></li>
					<li><a href="">댓글게시판</a></li>
					<li><a href="">첨부게시판</a></li>
				</ul>

			</div>
			<!-- aside -->

			<div id="main-content">
				<div id="main-content-header" class="clearfix">
					<h3>일반게시판</h3>
					<ol id="breadcrumbs">
						<li><a href="">홈</a></li>
						<li><a href="">게시판</a></li>
						<li class="none"><a href="">일반게시판</a></li>
					</ol>

				</div>
				<div id="main-content-board">
					<div id="search">
						<input id="txt-search" type="text" value="">
						<button class="search-b">검색</button>
					</div>
					<table id="main-content-boarder" class="clearfix">
						<thead>
							<tr>
								<th>번호</th>
								<th>제목</th>
								<th>글쓴이</th>
								<th>조회수</th>
								<th>작성일</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>aaaa</td>
								<td>bbbbbbbbbbb</td>
								<td>ccccc</td>
								<td>dddddddd</td>
								<td>dddddddd</td>
								<td><button>삭제</button></td>
							</tr>
							<tr>
								<td>aaaa</td>
								<td>bbbbbbbbbbb</td>
								<td>ccccc</td>
								<td>dddddddd</td>
								<td>dddddddd</td>
								<td><button>삭제</button></td>
							</tr>
							<tr>
								<td>aaaa</td>
								<td>bbbbbbbbbbb</td>
								<td>ccccc</td>
								<td>dddddddd</td>
								<td>dddddddd</td>
								<td><button>삭제</button></td>
							</tr>
							<tr>
								<td>aaaa</td>
								<td>bbbbbbbbbbb</td>
								<td>ccccc</td>
								<td>dddddddd</td>
								<td>dddddddd</td>
								<td><button>삭제</button></td>
							</tr>
							<tr>
								<td>aaaa</td>
								<td>bbbbbbbbbbb</td>
								<td>ccccc</td>
								<td>dddddddd</td>
								<td>dddddddd</td>
								<td><button>삭제</button></td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- board -->

				<button class="write">글쓰기</button>
				<div id="page-select">
					<a href="">◀</a> <a href="">1</a> <a href="">2</a> <a href=""><span
						class="now">3</span></a> <a href="">4</a> <a href="">5</a> <a href="">6</a>
					<a href="">7</a> <a href="">8</a> <a href="">9</a> <a href="">10</a>
					<a href="">▶</a>
				</div>
				<!-- page select -->
			</div>
			<!-- main-content -->
		</div>
		<div id="footer">
			<div>Copyright ⓒ 2022 장희만, All right reserved</div>
		</div>
		<!-- footer -->
	</div>
	<!-- wrap -->
</body>
</html>